@font-face {
  font-family: 'digit';
  src: url('../font/DSDIGI.ttf') format('truetype');
  src: url('../font/DSDIGI.eot') format('embedded-opentype');
  src: url('../font/DSDIGI.woff') format('woff');
}

body {
  color: white;
}

a {
  text-decoration: none;
}

a:link {
  color: #ffc0c0;
}

a:visited {
  color: #c0eec0;
}

a:hover {
  color: #b0b0ff;
}

#contents {
  margin: 1em;
  padding: 1em;
  width: 300px;
  border-radius: 10px;
}

#logo {
  max-width: 170px;
}

.dark-back {
  background: url('../img/footer_lodyas.png') repeat;
}

.bright-back {
  /*background: url('../img/congruent_pentagon.png') repeat;*/
  background: url('../img/original-pentagon-011.png') repeat;
}

.white-color {
  color: white;
}

.black-color {
  color: black;
}

.digit {
  font-family: 'digit';
}

span.small {
  font-size: 0.9em;
}
